<p>
<input type="checkbox" data-l10n-id="ep_desktop_notifications.desktopNotifications" id="options-desktopNotifications" <%= checked %>></input>
<label for="options-desktopNotifications" data-l10n-id="ep_desktop_notifications.desktopNotifications" aria-label="Desktop Notifications">Desktop Notifications</label>
</p>
